In [1]:
!pip install census

Requirement already satisfied: census in c:\users\ramir\anaconda3\lib\site-packages (0.8.17)
Requirement already satisfied: requests>=1.1.0 in c:\users\ramir\anaconda3\lib\site-packages (from census) (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ramir\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ramir\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ramir\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ramir\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.25.11)

In [2]:
#Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot
import requests
from census import Census
import json

#Census API Key
api_key = "148b3af77c97878b7d780e5ad789963d1c0b60cf"
    
c = Census(api_key, year = 2019)

In [3]:
#Load in csv
used_string = r"C:\Users\ramir\Documents\COVID19\COVID19\Bexar_County_COVID-19_Data_by_Zip_Code.csv"

bexar_df = pd.read_csv(used_string)
bexar_df.head()

,OBJECTID,ZIP_CODE,populationtotals_totpop_cy,Positive,CasesP100000,ZipInt,ActiveCases,ActiveCaseRate,SHAPE_Length,SHAPE_Area
0,1,78002,9061,1063,11816.362830,78002,6,66.696309,0.427542,0.009546
1,2,78006,5243,278,4851.657941,78006,3,52.356021,0.552725,0.005416
2,4,78015,12254,664,5167.315175,78015,7,54.474708,0.278955,0.002312
3,5,78023,29569,1947,6588.163638,78023,15,50.756268,0.886455,0.017922
4,7,78052,699,39,5555.555556,78052,3,427.350427,0.260085,0.001147

In [5]:
#Load in API data
census_data = c.acs5.get(("NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E",
                          "B01001_007E", "B01001_008E", "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E",
                          "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E", "B01001_017E", "B01001_018E",
                          "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
                          "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E",
                          "B01001_031E", "B01001_032E", "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E",
                          "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E", "B01001_041E", "B01001_042E",
                          "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
                          "B01001_049E"), {"for":"zip code tabulation area:*"})

#Convert to dataframe
census_df = pd.DataFrame(census_data)

#Column Reordering
census_df = census_df.rename(columns = {"B01001_001E" : "Total", "B01001_002E" : "Total Male",
                                        "B01001_026E" : "Total Female", "B01001_003E" : "Male : Under 5 Years",
                                        "B01001_027E" : "Female : Under 5 Years", "B01001_004E" : "Male : 5 to 9 Years",
                                        "B01001_028E" : "Female : 5 to 9 Years", "B01001_005E" : "Male : 10 to 14 Years",
                                        "B01001_029E" : "Female : 10 to 14 Years", "B01001_006E" : "Male : 15 to 17 Years",
                                        "B01001_030E" : "Female : 15 to 17 Years", "B01001_007E" : "Male : 18 and 19 Years",
                                        "B01001_031E" : "Female : 18 and 19 Years", "B01001_008E" : "Male : 20 Years",
                                        "B01001_032E" : "Female : 20 Years", "B01001_009E" : "Male : 21 Years",
                                        "B01001_033E" : "Female : 21 Years", "B01001_010E" : "Male : 22 to 24 Years",
                                        "B01001_034E" : "Female : 22 to 24 Years", "B01001_011E" : "Male : 25 to 29 Years",
                                        "B01001_035E" : "Female : 25 to 29 Years", "B01001_012E" : "Male : 30 to 34 Years",
                                        "B01001_036E" : "Female : 30 to 34 Years", "B01001_013E" : "Male : 35 to 39 Years",
                                        "B01001_037E" : "Female : 35 to 39 Years", "B01001_014E" : "Male : 40 to 44 Years",
                                        "B01001_038E" : "Female : 40 to 44 Years", "B01001_015E" : "Male : 45 to 49 Years",
                                        "B01001_039E" : "Female : 45 to 49 Years", "B01001_016E" : "Male : 50 to 54 Years",
                                        "B01001_040E" : "Female : 50 to 54 Years", "B01001_017E" : "Male : 55 to 59 Years",
                                        "B01001_041E" : "Female : 55 to 59 Years", "B01001_018E" : "Male : 60 and 61 Years",
                                        "B01001_042E" : "Female : 60 to 61 Years", "B01001_019E" : "Male : 62 to 64 Years",
                                        "B01001_043E" : "Female : 62 to 64 Years", "B01001_020E" : "Male : 65 and 66 Years",
                                        "B01001_044E" : "Female : 65 and 66 Years", "B01001_021E" : "Male : 67 to 69 Years",
                                        "B01001_045E" : "Female : 67 to 69 Years", "B01001_022E" : "Male : 70 to 74 Years",
                                        "B01001_046E" : "Female : 70 to 74 Years", "B01001_023E" : "Male : 75 to 79 Years",
                                        "B01001_047E" : "Female : 75 to 79 Years", "B01001_024E" : "Male : 80 to 84 Years",
                                        "B01001_048E" : "Female : 80 to 84 Years", "B01001_025E" : "Male : 85 Years and Over",
                                        "B01001_049E" : "Female : 85 Years and Over", "NAME": "Name",
                                        "zip code tabulation area" : "ZIP_CODE"})

# #Final Dataframe
census_df = census_df[["ZIP_CODE", "Total", "Total Male", "Total Female", "Male : Under 5 Years", "Female : 5 to 9 Years",
                      "Male : 10 to 14 Years", "Female : 10 to 14 Years", "Male : 15 to 17 Years", "Female : 18 and 19 Years",
                      "Male : 20 Years", "Female : 20 Years", "Male : 21 Years", "Female : 21 Years", "Male : 22 to 24 Years",
                      "Female : 22 to 24 Years", "Male : 25 to 29 Years", "B01001_035E" : "Female : 25 to 29 Years", "Male : 30 to 34 Years",
                      "Female : 30 to 34 Years", "Male : 35 to 39 Years",]]

#Visualize
pd.DataFrame(census_df)

SyntaxError: invalid syntax (<ipython-input-5-b060880c85e9>, line 47)

In [ ]:
census_df["ZIP_CODE"] = census_df["ZIP_CODE"].astype(str).astype(int)

In [ ]:
merge_df = pd.merge(bexar_df, census_df, on = "ZIP_CODE", how = "left")
merge_df

In [ ]:
# age_list =["B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E",
#             "B01001_007E", "B01001_008E", "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E",
#             "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E", "B01001_017E", "B01001_018E",
#             "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
#             "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E",
#             "B01001_031E", "B01001_032E", "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E",
#             "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E", "B01001_041E", "B01001_042E",
#             "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
#             "B01001_049E"]
# for element in age_list:
#     hispanicpercents.plot.scatter(element,"CasesP100000", figsize = (12,8),title=f'Correlation Between {element} and Cases Per 100000')
#     correlation = st.pearsonr(hispanicpercents[element],
#                                  hispanicpercents["CasesP100000"])
#     plt.annotate(correlation[0],xy=(0,0.95),fontsize = 18,xycoords='axes fraction')

In [ ]:
x_values =