In [6]:
# First time users of Census data, run a pip install

!pip install census

Requirement already satisfied: census in c:\programdata\anaconda3\lib\site-packages (0.8.17)
Requirement already satisfied: requests>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from census) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=1.1.0->census) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.26.4)

In [7]:
# 08-Ins_Census Solved

# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import json
import os
# Census API Key
from config import api_key

c = Census(api_key, year=2019)

In [8]:
csvpath = os.path.join("Bexar_County_COVID-19_Data_by_Zip_Code.csv")

# read in WeatherPy CSV file
bexar_countydata = pd.read_csv(csvpath)
display(bexar_countydata)

,OBJECTID,ZIP_CODE,populationtotals_totpop_cy,Positive,CasesP100000,ZipInt,ActiveCases,ActiveCaseRate,SHAPE_Length,SHAPE_Area
0,1,78002,9061,1063,11816.362830,78002,6,66.696309,0.427542,0.009546
1,2,78006,5243,278,4851.657941,78006,3,52.356021,0.552725,0.005416
2,4,78015,12254,664,5167.315175,78015,7,54.474708,0.278955,0.002312
3,5,78023,29569,1947,6588.163638,78023,15,50.756268,0.886455,0.017922
4,7,78052,699,39,5555.555556,78052,3,427.350427,0.260085,0.001147
...,...,...,...,...,...,...,...,...,...,...
71,82,78260,36255,2654,7180.735931,78260,17,45.995671,0.407156,0.005818
72,83,78261,23828,1836,7514.427209,78261,13,53.206729,0.474302,0.006743
73,84,78263,5228,428,8302.618817,78263,1,19.398642,0.680812,0.010405
74,85,78264,13113,1439,10995.644530,78264,13,99.335218,0.726860,0.016811
75,86,78266,1362,64,4604.316547,78266,0,0.000000,0.454406,0.002098

In [9]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_race = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E","B19301_001E",
                          "B17001_002E","B27002_001E","B02001_001E","B03001_003E","B02001_001E","B02001_002E",
                          "B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_007E","B02001_008E",
                          "B02001_009E","B02001_010E"),{'for': 'zip code tabulation area:*'})

In [11]:
# Convert to DataFrame
census_race = pd.DataFrame(census_data)

# Column Reordering
census_race = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B02001_001E":"Total Race Population",
                                      "B02001_002E":"White",
                                      "B02001_003E":"Black or African American",
                                      "B02001_004E":"America Native",
                                      "B02001_005E":"Asian",
                                      "B02001_006E":"Native Pacific",
                                      "B02001_007E":"Other",
                                      "B02001_008E":"Two or More",
                                      "B02001_009E":"Two or More Inclusive",
                                      "B02001_010E":"Three or More",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "ZIP_CODE"})

In [12]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv(r'2019_Data1.csv')

#census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)

In [13]:
display(census_pd)
display(bexar_countydata)

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,B27002_001E,Total Race Population,B03001_003E,White,Black or African American,America Native,Asian,Native Pacific,Other,Two or More,Two or More Inclusive,Three or More,state,ZIP_CODE
0,ZCTA5 00601,14361.0,17113.0,41.9,7493.0,10552.0,17059.0,17113.0,17052.0,12616.0,182.0,32.0,2.0,0.0,4045.0,236.0,74.0,162.0,72,00601
1,ZCTA5 00602,16807.0,37751.0,42.9,9694.0,18653.0,37737.0,37751.0,34908.0,32179.0,908.0,46.0,0.0,0.0,1194.0,3424.0,85.0,3339.0,72,00602
2,ZCTA5 00603,16049.0,47081.0,42.1,11259.0,23691.0,45834.0,47081.0,45842.0,37359.0,1514.0,68.0,108.0,11.0,7342.0,679.0,240.0,439.0,72,00603
3,ZCTA5 00606,12119.0,6392.0,44.3,6093.0,4185.0,6392.0,6392.0,6338.0,2910.0,92.0,17.0,0.0,0.0,3299.0,74.0,53.0,21.0,72,00606
4,ZCTA5 00610,19898.0,26686.0,42.7,10572.0,12204.0,26599.0,26686.0,25368.0,22042.0,461.0,0.0,0.0,1.0,2095.0,2087.0,33.0,2054.0,72,00610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 99923,-666666666.0,14.0,-666666666.0,NaN,0.0,14.0,14.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02,99923
33116,ZCTA5 99925,62917.0,908.0,45.2,30321.0,158.0,908.0,908.0,33.0,461.0,6.0,306.0,6.0,7.0,0.0,122.0,0.0,122.0,02,99925
33117,ZCTA5 99926,56188.0,1654.0,34.7,22267.0,249.0,1654.0,1654.0,97.0,241.0,0.0,1236.0,40.0,0.0,14.0,123.0,0.0,123.0,02,99926
33118,ZCTA5 99927,-666666666.0,0.0,-666666666.0,-666666666.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02,99927
33119,ZCTA5 99929,53894.0,2502.0,49.4,32286.0,194.0,2482.0,2502.0,126.0,1577.0,1.0,612.0,18.0,9.0,34.0,251.0,0.0,251.0,02,99929

,OBJECTID,ZIP_CODE,populationtotals_totpop_cy,Positive,CasesP100000,ZipInt,ActiveCases,ActiveCaseRate,SHAPE_Length,SHAPE_Area
0,1,78002,9061,1063,11816.362830,78002,6,66.696309,0.427542,0.009546
1,2,78006,5243,278,4851.657941,78006,3,52.356021,0.552725,0.005416
2,4,78015,12254,664,5167.315175,78015,7,54.474708,0.278955,0.002312
3,5,78023,29569,1947,6588.163638,78023,15,50.756268,0.886455,0.017922
4,7,78052,699,39,5555.555556,78052,3,427.350427,0.260085,0.001147
...,...,...,...,...,...,...,...,...,...,...
71,82,78260,36255,2654,7180.735931,78260,17,45.995671,0.407156,0.005818
72,83,78261,23828,1836,7514.427209,78261,13,53.206729,0.474302,0.006743
73,84,78263,5228,428,8302.618817,78263,1,19.398642,0.680812,0.010405
74,85,78264,13113,1439,10995.644530,78264,13,99.335218,0.726860,0.016811
75,86,78266,1362,64,4604.316547,78266,0,0.000000,0.454406,0.002098